:root {
  // Colors
  --black: #000;
  --white: #fff;
  --selago: #f4f7fe;
  --submarine: #b7bec5;
  --azure-radiance: #007dfc;
  --midnight: #001c39;
  --catskill-white: #e4e9f3;
  --midnight-blue-700: #594F78;
  --midnight-blue-500: #88819f;
  --midnight-blue-300: #b8b3c5;
  --midnight-blue-200: #d0cdd8;
  --midnight-05: #001c3980;
  --thunderbird: #d61c1c;
  --casper: #b3c4d6;
}
