.userProfile {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.image {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 8px;
}

.name {
  color: var(--black);
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.4;
}
